{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h4><i class="fas fa-sync fa-spin"></i> Integration Documentation</h4>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>All you need to LAUNCH <i class="fas fa-crosshairs fa-spin"></i> </h3>
                        <!-- tabs -->
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Overview</a></li>
                                <li><a href="#about" data-toggle="tab">Authentication</a></li>
                                <li><a href="#services" data-toggle="tab">Request Methods</a></li>
                                <li><a href="#contact" data-toggle="tab">Found a bug?</a></li>
                            </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">                
                                <div class="">
                                    <h1>Overview</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                 
                                </div>
                            </div> 
                        <div class="tab-pane" id="about"> 
                            <div class="">
                                <h1>Authentication</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                                
                                <p>Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Id nibh tortor id aliquet lectus. Morbi leo urna molestie at elementum eu. Dolor sit amet consectetur adipiscing elit. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Vulputate odio ut enim blandit volutpat. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Eget nunc lobortis mattis aliquam faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Magna fermentum iaculis eu non diam phasellus. Integer quis auctor elit sed vulputate. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Vel eros donec ac odio. Orci ac auctor augue mauris. Sit amet tellus cras adipiscing enim eu turpis egestas.</p>  
                            </div>
                        </div>
                                
                        <div class="tab-pane" id="services"> 
                            <div class="">
                                <h1>Request Methods</h1>
                                <p>Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Id nibh tortor id aliquet lectus. Morbi leo urna molestie at elementum eu. Dolor sit amet consectetur adipiscing elit. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Vulputate odio ut enim blandit volutpat. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Eget nunc lobortis mattis aliquam faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Magna fermentum iaculis eu non diam phasellus. Integer quis auctor elit sed vulputate. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Vel eros donec ac odio. Orci ac auctor augue mauris. Sit amet tellus cras adipiscing enim eu turpis egestas.</p>                 
                            </div>
                        </div>
                    
                        <div class="tab-pane" id="contact"> 
                                <div class="">
                                <h1>Issues</h1>
                                <p>Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Id nibh tortor id aliquet lectus. Morbi leo urna molestie at elementum eu. Dolor sit amet consectetur adipiscing elit. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Vulputate odio ut enim blandit volutpat. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Eget nunc lobortis mattis aliquam faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Magna fermentum iaculis eu non diam phasellus. Integer quis auctor elit sed vulputate. Vitae proin sagittis nisl rhoncus mattis rhoncus urna. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Vel eros donec ac odio. Orci ac auctor augue mauris. Sit amet tellus cras adipiscing enim eu turpis egestas.</p>                 
                                </div>
                        </div>
                    </div>
                </div>
                <!-- /tabs -->
            </div>
        </div>
    </div>
                
    </div>
{% endblock %}