{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h4><i class="fas fa-asterisk fa-spin"></i> Project Prediction API</h4>
        </div>
    </div>

    <div class="container">
        <h3>Introduction</h3>
        <p>
            Volutpat ac tincidunt vitae semper quis lectus nulla. Viverra tellus in hac habitasse platea dictumst vestibulum. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Lobortis elementum nibh tellus molestie nunc non blandit. Elit ut aliquam purus sit amet luctus. Eu volutpat odio facilisis mauris sit amet. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Eleifend mi in nulla posuere. Integer eget aliquet nibh praesent. Ornare suspendisse sed nisi lacus sed viverra tellus. Mi tempus imperdiet nulla malesuada pellentesque elit eget. Suspendisse potenti nullam ac tortor vitae. Pellentesque dignissim enim sit amet venenatis. Urna molestie at elementum eu facilisis sed odio morbi. Fusce ut placerat orci nulla pellentesque dignissim enim sit. Fringilla est ullamcorper eget nulla facilisi etiam dignissim.
        </p>
    </div>

    <!--Services Section-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="service-box">
                    <div class="service-icon yellow">
                        <div class="front-content">
                            <i class="fa fa-circle-notch fa-spin fa-4x"></i>
                            <h3>analyze</h3>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>analyze</h3>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="service-box">
                    <div class="service-icon orange">
                        <div class="front-content">
                            <i class="fa fa-random fa-4x"></i>
                            <h3>project</h3>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>project</h3>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-box ">
                    <div class="service-icon red">
                        <div class="front-content">
                            <i class="fa fa-cogs fa-4x"></i>
                            <h3>predict</h3>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>predict</h3>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-box">
                    <div class="service-icon grey">
                        <div class="front-content">
                            <i class="fa fa-snowflake fa-spin fa-4x"></i>
                            <h3>deploy</h3>
                        </div>
                    </div>
                    <div class="service-content">
                        <h3>deploy</h3>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}