<!DOCTYPE html>
<html>
    <head>
        <title>
            prediction-API
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>

<nav class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
    <button type="button" class="navbar-toggle"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    >
    <span class="sr-only"> Toggle navigation</span>
    <span class="icon-bar"> </span>
    <span class="icon-bar"> </span>
    <span class="icon-bar"> </span>
    </button>
    
        <a class="navbar-brand" href="#"> Prediction API</a>
        
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{ url_for('index')}}">Introduction</a> </li>
                <li> <a href="{{ url_for('about')}}">Documentation</a> </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"> Languages
                        <b class="caret"> </b>
                            <ul class="dropdown-menu">
                            <li class="dropdown-header">Backend</li>
                            <li><a href="#"> Python</a> </li>
                            <li><a href="#"> PHP</a> </li>
                            <li class="dropdown-header">Frontend</li>
                            <li><a href="#"> HTML</a> </li>
                            <li><a href="#"> JS</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="row">
        {% block content%}
        {% endblock %}
        </div>
        
    
    <div class="navbar  navbar-inverse navbar-fixed-bottom"> 
        <div class="container">
            <div class="navbar-text pull=left">
            <p> © pimis prediction API 2018.</p>
            </div>
            <div class="navbar-text pull=right bottomtext">
                <p> powered and fueled by ALLAN.</p>
            </div>
        </div>
    </div>

    </body>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</html>